@{   
    var versao = Br.Com.BiscoitinhosVovoLiva.Intranet.UtilVersao.RecuperaVersionAndBuildDate();
    var loadingUrl = string.Format("{0}Content/img/loading.gif", Url.Content("~"));
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portal da Vovó</title>
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">

    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/jquery-bootgrid/css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/jquery/js")
</head>

<body>
    @*MODAL ERROR*@
    <div class="modal fade" id="myErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog alert alert-danger fade in" role="alert">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4>Ops!</h4>
            <p id="mensagemErro">Parece que algo deu errado... =(</p>
            <p>
            </p>
        </div>
    </div>

    @*MODAL SUCCESS*@
    <div class="modal fade" id="mySuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4>Sucesso!</h4>
            <p id="mensagemSucesso">Ação realizada com sucesso!</p>
            <p>
            </p>
        </div>
    </div>

    @*CONTAINER*@
    <div class="container">
        <div class="row" style="margin-top: 20px">
            @*NAVBAR*@
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Portal da Vovó", "Index", "Home", null, new { @class = "navbar-brand" })
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pão de Queijo <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Como funciona?", "About", "PaoDeQueijo")</li>
                                        <li>@Html.ActionLink("Realizar Pedido", "Index", "PaoDeQueijo")</li>
                                        @if (string.Equals(User.Identity.Name, "andre.bacaglini"))
                                        {
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Consultar Pedidos", "Pedidos", "PaoDeQueijo")</li>
                                        }
                                    </ul>
                                </li>
                                        //TODO: Verificar se o usuario acessou o portão do pão de queijo ou dos biscoitos
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Biscoitinhos <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Como funciona?", "About", "Biscoitinho")</li>
                                        @*<li>@Html.ActionLink("Realizar Pedido", "Index", "Biscoitinho")</li>*@
                                        @if (string.Equals(User.Identity.Name, "andre.bacaglini"))
                                        {
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Consultar Pedidos", "Pedidos", "Biscoitinho")</li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <p class="navbar-text navbar-right">
                                        Bem vindo, @User.Identity.Name | @Html.ActionLink("Sair", "Logout", "Account")
                                    </p>
                                }
                                else
                                {
                                    @Html.ActionLink("Entrar", "Login", "Account")
                                }
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <div class="row">
            @RenderBody()
        </div>
        <p class="text-center">&copy; 2014 Biscoitinhos da Vovó Liva - ME.</p>
        <p class="text-center">Versão: @versao</p>
    </div>
    <!-- /.container -->


    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery-bootgrid/js")

    @RenderSection("scripts", required: false)
    <script>

        //carrega imagem de loading
        $(document).ajaxStart(function () {
            var div = '<div id="load"><div id="mask"></div><div id="ajax">';
            $('body').prepend(div + '<img src="@loadingUrl"/></div></div>');
            CriaDivCarregando();
        }).ajaxStop(function () {
            $('#load').remove();
        }).ajaxError(function (event, jqXHR, ajaxSettings, thrownError) {
            console.log("AJAX_ERROR", event);
            console.log("AJAX_ERROR", jqXHR);
            console.log("AJAX_ERROR", ajaxSettings);
            console.log("AJAX_ERROR", thrownError);
        });

        //cria o css para a imagem de carregando.
        function CriaDivCarregando() {
            $('#ajax').css({
                width: '128px',
                height: '128px',
                position: 'fixed',
                top: '50%',
                left: '50%',
                marginTop: '-64px',
                marginRight: '0px',
                marginBottom: '0px',
                marginLeft: '-64px',
                zIndex: 9999
            });
            $('#mask').css({
                backgroundColor: '#5a5a5a',
                opacity: '0.6',
                top: '0',
                left: '0',
                width: '100%',
                height: $(document).height(),
                position: 'fixed',
                zIndex: 9998
            });
        }
    </script>

</body>

</html>
